<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Management System</title>
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Bootstrap core CSS     -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>
<body>

    <header id="header" class="header fixed-top d-flex align-items-center">
                        <!-- <div class="d-flex align-items-center justify-content-between">
                          <a href="index.html" class="logo d-flex align-items-center">
                            <img src="{% static 'assets/img/Apcosys.png" alt="">
                            <span class="d-none d-lg-block">Apcosys Private Limited</span>
                          </a>
                        </div>End Logo -->
                        <h3 class="greeting">Hi {{request.session.Name}}!</h3>
                        <nav class="header-nav " style="padding-left: 60%;">
                          <ul class="d-flex align-items-center">
                            <li class="nav-item dropdown">
                              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-bell"></i>
                                <span class="badge bg-primary badge-number">4</span>
                              </a><!-- End Notification Icon -->
                    
                              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                                <li class="dropdown-header">
                                  You have 4 new notifications
                                  <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                                </li>
                                <li>
                                  <hr class="dropdown-divider">
                                </li>
                    
                                <li class="notification-item">
                                  <i class="bi bi-exclamation-circle text-warning"></i>
                                  <div>
                                    <h4>Lorem Ipsum</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>30 min. ago</p>
                                  </div>
                                </li>
                    
                                <li>
                                  <hr class="dropdown-divider">
                                </li>
                    
                                <li class="notification-item">
                                  <i class="bi bi-x-circle text-danger"></i>
                                  <div>
                                    <h4>Atque rerum nesciunt</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>1 hr. ago</p>
                                  </div>
                                </li>
                    
                                <li>
                                  <hr class="dropdown-divider">
                                </li>
                    
                                <li class="notification-item">
                                  <i class="bi bi-check-circle text-success"></i>
                                  <div>
                                    <h4>Sit rerum fuga</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>2 hrs. ago</p>
                                  </div>
                                </li>
                    
                                <li>
                                  <hr class="dropdown-divider">
                                </li>
                    
                                <li class="notification-item">
                                  <i class="bi bi-info-circle text-primary"></i>
                                  <div>
                                    <h4>Dicta reprehenderit</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>4 hrs. ago</p>
                                  </div>
                                </li>
                    
                                <li>
                                  <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-footer">
                                  <a href="#">Show all notifications</a>
                                </li>
                    
                              </ul><!-- End Notification Dropdown Items -->
                    
                            </li><!-- End Notification Nav -->
                            <li>
                              <a type="button" href="/employeelogout" class="btn logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                            </li>
                          </ul>
                        </nav><!-- End Icons Navigation -->
                    
    </header>
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <div class=" side align-items-left">
                <div class="logo d-flex align-items-center">
                  <img src="{% static 'assets/img/Apcosys.png'%}" alt="">
                  <span class="d-none d-lg-block">Employee Dashboard</span>
                </div>
            </div>
            <div class="profile">
                <img src="{{emp_reg.Image}}" alt="" class="img-fluid rounded-circle">
                <h6>{{request.session.Name}}</h6>
            </div>
            <nav class="nav-menu" style="padding-top: 10%;">
                <ul>
                  <li ><a href="/sidebar"><i class="bi bi-grid"></i><span>Home</span></a></li>
                  <li ><a href="/leaveSection"><i class="bi bi-clock"></i> <span>Leave Section</span></a></li>
                  <li class="active"><a href="/profileSetting"><i class="bi bi-gear"></i>Profile Settings</a></li>
        
                </ul>
              </nav><!-- .nav-menu -->
        </ul>
    </aside>
    <main id="main" class="main">
        <section class="section container shadow p-3 mb-5 bg-white rounded dashboard" >
            <h5 style="color: #009eff; padding: 2%;">Profile Setting</h5>
            <div class="row details">
                <div class="col-md-4">
                    <div class="userDetails"style="padding-top: 7%;"><p>Name</p></div>
                    <div class="userDetails"><p>Date of Birth</p></div>
                    <div class="userDetails"><p>Contact</p></div>
                    <div class="userDetails"><p>E-mail</p></div>
                    <div class="userDetails"><p>Designation</p></div>
                    <div class="userDetails"><p>Date Joined</p></div>
                    <div class="userDetails"><p>Reporting Department</p></div>
                </div>
                <div class="col-md-5">
                    <form>
                        <div class="inputField">
                            {% comment %} <input type="text" placeholder="Username"> {% endcomment %}
                            <input type="text" placeholder="Name" id="Name" name="Name" disabled  value="{{ emp_reg.Name }}">
                        </div>
                        <div>
                            {% comment %} <input type="date" placeholder="DD/MM/YYYY" > {% endcomment %}
                            <input  type="text" placeholder="YYYY-MM-DD" id="D_O_B" name="D_O_B" disabled value="{{ emp_reg.D_O_B }}">
                        </div>
                        <div>
                          <input type="tel" placeholder="Phone Number" id="Contact" name="Contact" disabled  value="{{ emp_reg.Contact }}">  
                          {% comment %} <input type="tel" placeholder="Phone Number"> {% endcomment %}
                        </div>
                        <div>
                          <input type="Email" placeholder="Email" id="Email" name="Email"  disabled value="{{ emp_reg.Email }}">
                            {% comment %} <input type="Email" placeholder="Email"> {% endcomment %}
                        </div>
                        <div>
                          <input type="text" placeholder="Designation" id="Designation" name="Designation" disabled value="{{ emp_reg.Designation }}">
                            {% comment %} <p>Software Engineer</p> {% endcomment %}
                        </div>
                        <div>
                          <input type="text" placeholder="Date of Joining" id="Date_of_join" name="Date_of_join"  disabled value="{{ emp_reg.Date_of_join }}">
                            {% comment %} <p>23/08/2022</p> {% endcomment %}
                        </div>
                        <div>
                          <input type="text" placeholder="Reporting_Dept" d="Reporting_Dept" name="Reporting_Dept" disabled value="{{ emp_reg.Reporting_Dept }}">
                            {% comment %} <p>Production Manager</p> {% endcomment %}
                        </div>
                        
                        {% comment %} <a href="#" type="button" class="btn btn-primary btn-sm btn-block saveButton"><i class="bi bi-file-earmark"></i> &nbsp;Save</a> {% endcomment %}
                        <a href="/sidebar" type="button"  class="btn btn-outline-info btn-sm btn-block closeButton"><i class="bi bi-x-square"></i> &nbsp; Close</a>
                    </form>
                </div>
                <div class="col-md-2">
                    <div class="profileImage">
                        <img src="{{emp_reg.Image}}" alt="" class="img-fluid ">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
           
          </section>
      
        </main><!-- End #main -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </script>
</body>
</html>